@import "https://fonts.googleapis.com/css2?family=Caveat&family=Inconsolata:wght@800&display=swap";
.Head {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h1 {
  width: 295px;
  margin-top: 150px;
  font-family: "Caveat", cursive;
  font-family: "Inconsolata", monospace;
  font-size: 40px;
  letter-spacing: 3px;
  color: #ffffff;
}
h1 span {
  color: #f7ff45;
}
