@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Inconsolata:wght@800&family=Noto+Sans&family=Josefin+Sans&display=swap");

.Details {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
}

.summary {
  margin-top: 150px;
  height: 400px;
  width: 600px;
  text-align: center;
  background-color: white;
  border-radius: 0px 0px 7px 7px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.summary h2 {
  font-size: 30px;
}
.summary textarea {
  font-size: 20px;
}
.heading {
  margin-top: 150px;
  background-color: #eeeeee;
  border-radius: 0px 0px 7px 7px;
  height: 400px;
  width: 600px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.heading button {
  top: 100px;
}

.Name {
  display: flex;
  justify-content: space-around;
}
.Number {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.button {
  height: 50px;
  width: 170px;
  font-size: 18px;
  position: relative;
  top: 40px;
  border-color: #50d890;
  color: #50d890;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
}
.button:hover {
  background-color: #50d890;
  border: 1px solid white;
  color: white;
}

.Education {
  height: 400px;
  width: 600px;
  margin-top: 150px;
  text-align: center;
  background-color: #f1f6f9;
  border-radius: 0px 0px 7px 7px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.gen {
  margin: 30px;
}
.heading input {
  width: 80%;
  height: 60%;
  font-size: 18px;
  border-radius: 5px;
}

.Education input {
  width: 10%;
  height: 60%;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
}

.Skills {
  /* height: 350px;
  width: 180px; */
  height: 400px;
  width: 600px;
  margin-top: 150px;
  text-align: center;
  background-color: #ecf2ff;
  border-radius: 0px 0px 7px 7px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.Skill {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Skills input {
  border-radius: 3px;
  height: 30px;
  font-size: 13px;
}

#submit {
  position: fixed;
  top: 570px;
}
